.DS_Store
.git
/backend/node_modules
/frontend/node_modules
/backend/comics/*
/backend/database.db
!/backend/comics/.gitkeep
/backend/thumbnails/*
!/backend/thumbnails/.gitkeep
/backend/tmp/*
!/backend/tmp/.gitkeep
/backend/uploads/*
!/backend/uploads/.gitkeep