.catalog-comic {
    text-decoration: none;
    color: black;
}

.catalog-comic:hover {
    text-decoration: none;
    color: black;
    margin: -2%;
}

.comic-view {
    margin-top: 0.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.display-comic {
    margin: auto;
    width: 85%;
}

.comic-img {
    width: auto;
}

.comic-buttons {
    max-width: 200px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.comic-thumb {
    max-width: 350px;
}